@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
	*{
		margin: 0;
		padding: 0;
		box-sizing: border-box;
		font-family: 'Poppins', sans-serif;

	}

body

{
	min-height: 100vh;
	background: #f3f5f9;
}	


.block {
	display: block;
	width: 18%;
	border: none;
	background-color:#00BFFF;
	padding: 20px 40px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	font-family: 'lato',Sans-serif;
	color:#FFFFFF;

}

.block:hover{
	background: #ea1d63;
	width: 240px;
}
.navigation{
	position: fixed;
	width: 60px;
	height: 100%;
	background: #00BFFF;
	transition: 0.5s;
	overflow: hidden;
}
.navigation:hover{
	width: 300px;
}
.navigation  h2{
	color: #fff;
	text-transform: uppercase;
	text-align: ;
	margin-bottom: 30px;
	
	
}

.navigation ul{
	position: absolute;
	top:0;
	left:0;
	width:60%;
}

.navigation ul li{
	position:relative;
	width:100%;
	list-style: none;
}
.navigation ul li:hover{
	background: #ea1d63;
}	
.navigation ul li a{
	position: relative;
	display: none;
	width: 100%;
	display: flex;
	text-decoration: none;
	color: #fff;
}
.navigation ul li a .icon{
	position: relative;
	display: block;
	min-width:100px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
.navigation ul li a.icon .fa{
	font-size:24px;
}
.navigation ul li a .title title{
	position: relative;
	display:block;
	padding: 0 10px;
	height:60px;
	line-height:60px;
	text-align: center;
	white-space: nowrap;
}
.toggle{
	position: absolute;
	top:0;
	right:0;
	width: 60px;
	height: 60px;
	background: #00BFFF;
	cursor: pointer;
}
.toggle.active
{
	background: #ea1d63;
}
.toggle:before
{
	content: '\f0c9';
	font-family: fontAwesome;
	position: absolute;
	width: 100%;
	height: 100%;
	line-height: 60%;
	text-align: center;
	font-size: 24px;
	color: #fff;

}
.button {
	background-color: #00BFFF;
	border: none;
	color: black;
	padding: 10px 35px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 4px 2px;
	cursor:pointer;
	border-radius:	
}
.button:hover{
	background: #ea1d63;
	width: 150px;
}
.responsive {
	width: 100%;
	height:auto;
}
.toggle:hover{
	background: #ea1d63;
	width:60px;
}
.toggle.active:before{

{
	content: '\f00d';
}
@media (max-width: 767px){
	.navigation 
	{
		left: -60px;
}
.navigation.active
{
	left:0px;
	width: 100%;
}
